<!DOCTYPE html>
<html>
  <head>
    <title>OauthProviderRails5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %> 
    <hr>
    <% if current_user %>
      <%= link_to "LogOut",destroy_user_session_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Client Applications", oauth_applications_path %>
    <% else %>
      <%= link_to "Login",new_user_session_path %>
    <% end %>  
    <hr>
    <%= yield %>
  </body>
</html>
